#info{
    position: fixed;
    top: 20px;
    right: 20px;
}

#info-conteudo{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    right: calc(100% + 10px);
    top: 0;
}

#info-conteudo h2{
    font-size: 16px;
    margin-bottom: 10px;
}

#info-conteudo ul{
    list-style-type: none;
    padding: 0;
}

#info-conteudo ul li{
    margin-bottom: 8px;
    line-height: 1.5;
}

#info-conteudo ul li strong{
    font-weight: bold;
}

#info-icone{
    padding: 10px;
    border-radius: 8px;
}
